//
//  Config.xcconfig
//  XcodePAI
//
//  Created by Bill Cheng on 2025/9/2.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_VERSION = 1.0.0
APP_BUILD = 30
HOST_APP_NAME = XcodePaI
BUNDLE_IDENTIFIER_BASE = com.R3Studio.XcodePAI
APPLICATION_SUPPORT_FOLDER = com.R3Studio.XcodePAI
EXTENSION_BUNDLE_NAME = XcodePaI Extension
EXTENSION_MODULE_NAME = XcodePaIExtension
