<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLICATION_SUPPORT_FOLDER</key>
	<string>$(APPLICATION_SUPPORT_FOLDER)</string>
	<key>BUNDLE_IDENTIFIER_BASE</key>
	<string>$(BUNDLE_IDENTIFIER_BASE)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>TEAM_ID_PREFIX</key>
	<string>$(TeamIdentifierPrefix)</string>
	<key>EXTENSION_BUNDLE_NAME</key>
	<string>$(EXTENSION_BUNDLE_NAME)</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUEnableJavaScript</key>
	<false/>
	<key>SUFeedURL</key>
	<string>$(SPARKLE_FEED_URL)</string>
	<key>SUPublicEDKey</key>
	<string>$(SPARKLE_PUBLIC_KEY)</string>
	<key>SUScheduledCheckInterval</key>
	<string>3600</string>
</dict>
</plist>
